@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.list-patients {
  tbody {
    tr {
      &:nth-of-type(odd) {
        background: rgba(#eee, 0.5);

        &:hover {
          background: rgba(#eee, 0.8);
        }
      }

      &:nth-of-type(even) {
        background: #fff;

        &:hover {
          background: rgba(#eee, 0.3);
        }
      }
    }
  }
}
